# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Operating system files
.DS_Store
Thumbs.db

# Build files (React)
client/build/

# IDE or editor-specific files
.vscode/
.idea/
*.iml
